<!DOCTYPE HTML>
<html ng-app="smartcall">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.3">
		<title>ניהול לקוחות</title>
		
		<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-route.min.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Arimo&subset=hebrew,latin' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="all.css">
		<script src="index.js"></script>
		
	</head>
	<body ng-controller="mainController as main">
		<div class="container-fluid">
			<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

			<!-- Customer modal -->
			<div id="customerModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="main.customerModal=false">&times;</button>
					<h4 class="modal-title">{{main.customerModalRole}} לקוח</h4>
				  </div>
				  <div class="modal-body">
					<div>
						<p>שם לקוח</p>
						<input type="text" class="form-control" placeholder="שם הלקוח" ng-model="main.editCustomer.name" />
						<p>מזהה לקוח</p>
						<input type="text" class="form-control" placeholder="App ID" ng-model="main.editCustomer.appID" />
						<input type="checkbox" ng-model="main.editCustomer.isPerm"> לקוח קבוע?</input>
						<p>מספר סוכן</p>
						<input type="text" class="form-control" placeholder="Agent extension ID" ng-model="main.editCustomer.agentExt" ng-disabled="main.editCustomer.isPerm" />
						<input type="checkbox" ng-model="main.editCustomer.isPrivate">לקוח פרטי?</input>
						<p>קוד פרטיות</p>
						<input type="text" class="form-control" placeholder="Private code" ng-model="main.editCustomer.privateCode" ng-disabled="!main.editCustomer.isPrivate" />
						<p>הוספת תמונה (יש לגרור):</p>
						<div id="imgHolder">
							<img ng-src="{{main.editCustomer.image}}" ng-show="main.editCustomer.image"></img>
						</div>
						<div class="text-center">
							<div class="btn btn-danger" ng-show="main.editCustomer.image" ng-click="main.editCustomer.image = undefined">מחק תמונה</div>
						</div>
					</div>
				  </div>
				  <div class="alert alert-danger" ng-show="main.editError">
					<p><strong>שגיאה!</strong></p>
					<p>{{main.editError}}</p>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="main.customerModal=false">ביטול</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="main.finalize()" ng-disabled="main.editError">אישור</button>
				  </div>
				</div>

			  </div>
			</div>
			
			<div id="tenantModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="main.tenantModal=false">&times;</button>
					<h4 class="modal-title">{{main.tenantModalRole}} שלוחה</h4>
				  </div>
				  <div class="modal-body">
					<div>
						<p>שם שלוחה</p>
						<input type="text" class="form-control" placeholder="שם השלוחה" ng-model="main.editTenant.name" />
						<p>מזהה שלוחה</p>
						<input type="text" class="form-control" placeholder="מזהה השלוחה" ng-model="main.editTenant.tenantID" />
						<p>מזהה בטיחות</p>
						<input type="text" class="form-control" placeholder="מזהה בטיחות" ng-model="main.editTenant.secID" />
					</div>
				  </div>
				  <div class="alert alert-danger" ng-show="main.editError">
					<p><strong>שגיאה!</strong></p>
					<p>{{main.editError}}</p>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="main.tenantModal=false">ביטול</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="main.finalize()" ng-disabled="main.editError">אישור</button>
				  </div>
				</div>

			  </div>
			</div>
			
			<header>
				<h1>ניהול לקוחות - סמרט קול</h1>
			</header>
			<article>
				<h4>
					שלום, {{main.authData.google.email}}!
					<div class="btn btn-info" ng-click="main.logout()">התנתק</div>
				</h4>
				<div>
					<table class="table table-hover table-responsive">
						<thead>
							<th>לקוח</th>
							<th>מזהה לקוח</th>
							<th>מספר סוכן</th>
							<th>קוד פרטי</th>
							<th>&nbsp </th>
							<th>&nbsp </th>
							<th>&nbsp </th>
						</thead>
						<tbody>
							<tr ng-repeat-start="customer in main.customers">
								<td>
									<a ng-href="stats.html#?app={{customer.appID}}" target="blank">
										<span 
											class="glyphicon" 
											ng-class="main.expanded[customer.appID] ? 'glyphicon-menu-down' : 'glyphicon-menu-left'" 
											ng-click="main.expand(customer.appID)"
											ng-show="customer.tenants.length > 0">
										</span>
										<img ng-src="{{customer.image}}" ng-show="customer.image" />
										<span>&nbsp {{customer.name}}</span>
									</a>
								</td>
								<td>{{customer.appID}}</td>
								<td>{{customer.agentExt}}</td>
								<td>{{customer.privateCode}}</td>
								<td><div class="btn btn-success" title="הוספת שלוחה" data-toggle="modal" data-target="#tenantModal" ng-click="main.startAddTenant(customer)"><span class="glyphicon glyphicon-plus"></span></div></td>
								<td><div class="btn btn-warning" title="עריכה" data-toggle="modal" data-target="#customerModal" ng-click="main.startEditCustomer(customer)"><span class="glyphicon glyphicon-edit"></span></div></td>
								<td><div class="btn btn-danger" title="הסרה" ng-click="main.removeCustomer($index)"><span class="glyphicon glyphicon-erase"></span></div></td>
							</tr>
							<tr ng-show="main.expanded[customer.appID]" class="tenantHeader">
								<td>&nbsp </td>
								<td>&nbsp </td>
								<td>שלוחה</td>
								<td>מזהה</td>
								<td>מזהה בטיחות</td>
								<td>&nbsp </td>
								<td>&nbsp </td>
							</tr>
							<tr ng-repeat-end ng-repeat="tenant in customer.tenants" ng-show="main.expanded[customer.appID]" class="tenantRow">
								<td>&nbsp </td>
								<td>&nbsp </td>
								<td>{{tenant.name}}</td>
								<td>{{tenant.tenantID}}</td>
								<td>{{tenant.secID}}</td>
								<td><div class="btn btn-warning" title="עריכה" data-toggle="modal" data-target="#tenantModal" ng-click="main.startEditTenant(tenant)"><span class="glyphicon glyphicon-edit"></span></div></td>
								<td><div class="btn btn-danger" title="הסרה" ng-click="main.removeTenant(customer, $index)"><span class="glyphicon glyphicon-erase"></span></div></td></td>
							</tr>
						</tbody>
					</table>
				</div>				
				<div class="text-center">
						<div class="btn btn-success" data-toggle="modal" data-target="#customerModal" ng-click="main.startAddCustomer()">הוסף לקוח</div>
				</div>
				
			</article>
			<footer class="footer">
				<div>&copy גדי ודניאל</div>
			</footer>
		</div>
	</body>
</html>

